
<section class="about__page">
  <h1 class="title">Rick and Morty GraphQL App</h1>
  <div class="about__container">
      <p class="about__paragraph">
        Angular 11 + Rick and Morty GraphQL Api
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a itaque natus laudantium laboriosam dignissimos modi minima officia voluptatem amet consequuntur beatae ea eos tenetur tempora facilis, libero optio magnam!
      </p>
      <figure class="about__img">
        <img src="/assets/imgs/web_dev.svg" alt="web dev" class="about__picture" rel="preload" as="image" width="406" height="306">
      </figure>
    </div>
  <p class="about__copy">
    Developed by <span class="text-white">Pivot Soluciones</span>
  </p>
</section>
